body {
  background-color: rgb(230, 236, 248);
}

p {
  display: inline;
}
.overall {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 500px;
  padding: 20px;
  width: 515px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
@media (max-width: 600px) {
  .overall {
    max-width: 90px;
  }
}
.next {
  background-color: rgb(221, 226, 235);
  height: 50px;
  width: 500px;
  padding-top: 5px;
  font-weight: bold;
  /* margin: 0;
    padding: 0; */
  padding-left: 10px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px white;
}
.right {
  color: rgb(113, 111, 111);
}
.rights {
  text-align: right;
  text-decoration: none;
  margin-left: 220px;
  color: rgb(113, 111, 111);
  display: inline;
  font-size: large;
}
.rights:hover {
  cursor: pointer;
}
.sign {
  font-size: larger;
}
#second {
  background-color: white;
  margin-top: 0px;
  top: 0px;
  padding-left: 15px;
  width: 500px;
  /* margin: 0; */
  display: inline-block;
  height: fit-content;
  box-shadow: inset;
  box-shadow: 20px white;
  border-radius: 0px 0px 5px 5px;
}

#form2 {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  margin-top: 25px;
  width: 450px;
  padding-left: 15px;
  border-left: 15px rgb(190, 192, 198);
  border-color: rgb(190, 192, 198);
  font-size: 16px;

  /* border-style:none; */
  background-color: rgb(238, 240, 246);
}
.form2 {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  margin-top: 25px;
  width: 450px;
  padding-left: 15px;
  border-left: 15px rgb(190, 192, 198);
  border-color: rgb(190, 192, 198);
  font-size: 16px;

  /* border-style:none; */
  background-color: rgb(238, 240, 246);
  margin-top: 50px;
}
input:focus {
  border-color: rgb(190, 192, 198);
}

::placeholder {
  font-weight: bold;
  font-size: 17px;
  /* padding-left: 15px; */
  padding-top: 20px;
}
#box {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.end {
  font-weight: bold;
  text-align: center;
  margin-left: 150px;
  color: rgb(137, 136, 136);
  margin-top: 100px;
}
#icon1 {
  display: inline;
  margin-top: 1500px;
  margin-left: 15px;
  position: relative;
  top: 12px;
}

#icon2 {
  border-radius: 5px;
  height: 35px;

  margin-top: 20px;
  width: 450px;
  border-style: hidden;
  background-color: rgb(205, 217, 241);
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  text-align: center;
}
#form1 {
  font-size: large;
  font-weight: bolder;
  padding-top: 0;
  border: none;
  text-decoration: none;
  background-color: rgb(205, 217, 241);
  margin-top: 0px;
}
#form1:hover {
  cursor: pointer;
}
#iconstyle {
  margin-top: 0px;
  position: relative;
  top: 5px;
  margin-right: 3px;
  font-weight: bolder;
  right: 5px;
}

.info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  line-height: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
}
a:link {
  text-decoration: none;
}
